body {
  margin: 0px;
  padding: 0px;
}

button {
  margin-right: 5px;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#fieldDefsHeader,
#fieldDefToolBar,
.fieldDefsRow {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.boldHeader {
  font-weight: bold;
}

#dataDefinition,
#dataSource {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 5px;
}

.expressionCol {
  flex-basis: 40%;
}

.fieldNameCol {
  flex-basis: 14%;
}

.deleteButtonCol, .addBeforeButtonCol {
  flex-basis: 3%;
}

p,
input,
textarea {
  padding: 2px 5px;
  margin: 0px;
}

div,
input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

#resultingCSVinput,
#sourceinputselectable {
  min-height: 200px;
  resize: vertical;
}

#sourceinput {
  min-height: 100px;
  resize: vertical;
}

#sourceinputselectable {
  height: 100%;
  overflow-y: scroll;
  border: 1px solid;
  padding: 3px;
  font-family: monospace;
}

